<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="daycalc_pc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <daycalc_pc.Properties.Settings>
            <setting name="s_InTime" serializeAs="String">
                <value>510</value>
            </setting>
            <setting name="s_userName" serializeAs="String">
                <value />
            </setting>
            <setting name="s_Pass" serializeAs="String">
                <value />
            </setting>
        </daycalc_pc.Properties.Settings>
    </userSettings>
</configuration>